@import 'tailwindcss';

html {
  @apply bg-primary text-white;
}

body {
  @apply font-outfit;
}

@theme {
  /* Colors */
  --color-primary: #10141e;
  --color-secondary: #161d2f;
  --color-third: #fc4747;
  --color-fourth: #5a698f;
  --color-fifth: #c3c4c7;

  /* Font */
  --font-outfit: --font-outfit;

  /* Font Sizes 
    Heading:    32 - 24 - 18
    Paragraph:  15 - 13
  */
  --text-head-lg: 2rem;
  --text-head-md: 1.5rem;
  --text-head-sm: 1.125rem;
  --text-head-xs: 0.9375rem;
  --text-para-md: 0.9375rem;
  --text-para-sm: 0.8125rem;

  /* Breakpoints */
  --breakpoint-lg: 90rem;
}

@utility input {
  @apply border-b placeholder:capitalize w-full ps-4 pb-5 text-head-sm caret-third border-[#485473] 
  focus:outline-none focus:border-white h-[37px] leading-0;
}

@utility header {
  @apply lg:!sticky lg:!top-0 flex items-center lg:flex-col p-4 lg:h-[60rem] bg-secondary justify-between lg:rounded-lg;
}

@utility loading {
  @apply size-6 animate-spin rounded-full border-4 border-white border-r-fourth;
}

/* Card */
@utility card {
  @apply relative flex-center overflow-hidden rounded-lg w-full h-[110px] md:h-[8.75rem] lg:h-[10.875rem];
}

@utility card-wrapper {
  @apply grid gap-4 grid-cols-2 md:grid-cols-[repeat(auto-fit,13.75rem)] lg:grid-cols-[repeat(auto-fit,17.5rem)] capitalize;
}

@utility card-wrapper__actions {
  @apply bg-black/50 absolute inset-0 flex-center opacity-0 transition-opacity duration-300;
}

/* Safari-compatible version */
/* For hover-capable devices (desktop) */
@media (hover: hover) and (pointer: fine) {
  .card-wrapper__actions {
    @apply group-hover/card:opacity-100;
  }
}

/* For touch devices (mobile/tablet) */
@media (hover: none) {
  .card-wrapper__actions {
    @apply opacity-100;
  }

  .card-wrapper__actions:focus-within {
    @apply opacity-0;
  }

  .card-wrapper__actions:active {
    @apply opacity-100;
  }
}

/* Other */
@utility flex-center {
  @apply flex justify-center items-center;
}

@utility page-heading {
  @apply text-head-sm md:text-head-lg mb-6;
}

@utility auth-heading {
  @apply text-head-lg pb-10 text-center;
}

@utility container {
  @apply max-w-full px-4;
}
